services:
  - type: web
    name: rk-website-frontend
    env: node
    plan: free
    buildCommand: npm install --include=dev && npm run build
    startCommand: npm run preview
    envVars:
      - key: NODE_ENV
        value: development
      - key: VITE_API_URL
        value: https://rk-ras3.onrender.com
    staticPublishPath: dist
