/*=============== VARIABLES CSS ===============*/
.team-cards {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(45, 70%, 52%);
  --first-color-light: hsl(43, 46%, 24%);
  --first-color-lighten: hsl(42, 62%, 36%);
  --gradient-color: linear-gradient(180deg, hsl(0, 0%, 14%), hsl(0, 0%, 5%));
  --title-color: hsl(45, 70%, 62%);
  --text-color: hsl(40, 18%, 74%);
  --white-color: hsl(0, 0%, 97%);
  --body-color: hsl(0, 0%, 4%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
}
